<!-- File: voters_detail.html
    Author: A'Yanna Rouse (yanni620@bu.edu), 03/31/2025
    Description: This is the template for displaying detailed information about a specific voter.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1> Voter: {{v.first_name}} {{v.last_name}}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Street Adress</th>
            <th>Date of Birth</th>
            <th>Date of Registration</th>
            <th>Party Affiliation</th>
            <th>Precinct</th>
            <th>v20State</th>
            <th>v21Town</th>
            <th>v21Primary</th>
            <th>v22General</th>
            <th>v23Town</th>
            <th>Voter Score</th>
        </tr>
        
        <tr>
            <td> {{v.first_name}} {{v.last_name}}</td>
            <td> 
                <a href="https://www.google.com/maps/search/?api=1&query={{ v.street_number }}+{{ v.street_name }},+{{ v.zip_code }}" target="_blank">
                {{v.street_number}} {{v.street_name}}{% if v.apartment_number %}, Apartment {{v.apartment_number}}{% endif %}, {{v.zip_code}} 
                </a>
            </td>
            <td>{{v.date_of_birth}}</td>
            <td>{{v.date_of_registration}}</td>
            <td>{{v.precinct}}</td>
            <td>{{v.party_affiliation}}</td>
            <td>{{v.v20state}}</td>
            <td>{{v.v21town}}</td>
            <td>{{v.v21primary}}</td>
            <td>{{v.v22general}}</td>
            <td>{{v.v23town}}</td>
            <td>{{v.voter_score}}</td>
        </tr>
    </table>
</div>

{% endblock %}