<!-- File: voters_detail.html
    Author: A'Yanna Rouse (yanni620@bu.edu), 03/31/2025
    Description: This is the template for displaying detailed information about a specific voter.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1> Voter: {{v.first_name}} {{v.last_name}}</h1>
    <div class="voter-details">
        <p><strong>Street Address:</strong> 
            <a href="https://www.google.com/maps/search/?api=1&query={{ v.street_number }}+{{ v.street_name }},+Newton,+MA" target="_blank">
                {{ v.street_number }} {{ v.street_name }}{% if v.apartment_number %}, Apartment {{ v.apartment_number }}{% endif %}, Newton, MA {{ v.zip_code }}
            </a>
        </p>
        <p><strong>Date of Birth:</strong> {{ v.date_of_birth }}</p>
        <p><strong>Date of Registration:</strong> {{ v.date_of_registration }}</p>
        <p><strong>Party Affiliation:</strong> {{ v.party_affiliation }}</p>
        <p><strong>Precinct:</strong> {{ v.precinct }}</p>
        <p><strong>v20State:</strong> {{ v.v20state }}</p>
        <p><strong>v21Town:</strong> {{ v.v21town }}</p>
        <p><strong>v21Primary:</strong> {{ v.v21primary }}</p>
        <p><strong>v22General:</strong> {{ v.v22general }}</p>
        <p><strong>v23Town:</strong> {{ v.v23town }}</p>
        <p><strong>Voter Score:</strong> {{ v.voter_score }}</p>
    </div>
</div>
{% endblock %}