<!-- mini_fb/base.html -->
 <!-- File: base.html
    Author: A'Yanna Rouse (yanni620@bu.edu), 02/20/2025
    Description: This is the base template for each html file I create for this application. 
-->
{% load static %} 

<html>
    <!-- Header -->
    <head> 
        <title> Facebook </title>
        <link rel="stylesheet" type="text/css" href="{% static 'assignment5.css' %}">
        <!-- Navigation Bar -->
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
                <li><a href="{% url 'create_profile' %}" class="create-profile-btn">Create New Profile</a></li>  
                <!-- URLs for logged in users only -->
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'show_profile' logged_in_profile.pk %}">Profile Page</a></li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="logout-btn">
                    </form>
                </li>

                <!-- URLs for users who are not logged in -->
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        
            <!-- Debug: Display the user's name if they are logged in -->
            <div class="user-info">
                {% if request.user.is_authenticated %}
                    Logged in as: <strong>{{ request.user }}</strong>
                {% else %}
                    Not logged in.
                {% endif %}
            </div>
            <hr>
        </nav>        
    </head>

    <body>
        <!-- substitute in the specific content here -->
        {% block content %} 
        {% endblock %}

        <!-- Footer -->
        <footer>
            This application is a mini version of Facebook.
            Made by A'Yanna Rouse 2025.
        </footer>
    </body>
</html>