<!-- mini_fb/base.html -->
 <!-- File: base.html
    Author: A'Yanna Rouse (yanni620@bu.edu), 02/20/2025
    Description: This is the base template for each html file I create for this application. 
-->
{% load static %} 

<html>
    <!-- Header -->
    <head> 
        <title> Facebook </title>
        <link rel="stylesheet" type="text/css" href="{% static 'assignment5.css' %}">
    </head>

    <body>
        <!-- substitute in the specific content here -->
        {% block content %} 
        {% endblock %}

        <!-- Footer -->
        <footer>
            This application is a mini version of Facebook.
            Made by A'Yanna Rouse 2025.
        </footer>
    </body>
</html>