<!-- mini_fb/show_profile.html -->
<!-- File: show_all_profiles.html
    Author: A'Yanna Rouse (yanni620@bu.edu), 02/20/2025
    Description: This is the template for showing each profile in the mini Facebook application.
-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<!-- Display the profile image, name, city, email, and a back button to return to the list of profiles -->

<div class="profile-container">
    <!-- Display the profile image -->
    <img src="{{ Profile.image_url }}" class="profile_page-img">

    <!-- Display the profile name, city, and email -->
    <h1> {{ Profile.first_name }} {{ Profile.last_name }} </h1> 
    <h2> {{ Profile.city }} </h2>
    <p> {{ Profile.email }} </p>

    {% if user.is_authenticated and user == Profile.user %}
        <!-- Button to update the Profile -->
        <a href="{% url 'update_profile' %}" class="create-status-btn">Update Profile</a>

        <!-- Button to create a new status -->
        <a href="{% url 'create_status' %}" class="create-status-btn">Create Status</a>

        <!-- Button to go to news feed -->
        <br><br>
        <a href="{% url 'news_feed' %}" class="create-status-btn">News Feed</a>
    {% endif %}

    <br><br>
    <!-- Display the Profile's Status and image -->
    <h3>Status Messages:</h3>
    {% for message in Profile.get_status_messages %}
        <div class="status-entry">
            <h3> {{ message }} </h3>
            {% for img in message.get_images %}
                <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                <br>
            {% endfor %}
            <p> {{ message.timestamp }} </p>
            <div class="status-buttons">
                <!-- Button to update status -->
                {% if user.is_authenticated and user == Profile.user %}
                <a href="{% url 'update_status' message.pk %}" class="create-status-btn">Update</a>
                <!-- Button to delete status -->
                <a href="{% url 'delete_status' message.pk %}" class="create-status-btn">Delete?</a>
                {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}
    <br>
    <!-- Display the Profile's Friends -->
    <h3> {{Profile.first_name}}'s Friends </h3>
    <br>
    <div class="friend-gallery">
        {% for friend in Profile.get_friends %}
            <div class="friend-container">
                {% if user.is_authenticated and user == Profile.user %}
                <a href="{% url 'show_profile' friend.pk %}">
                {% endif %}
                    <img src="{{ friend.image_url }}" class="profile-img">
                </a>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>

    <!-- Button to view friend suggestions -->
    {% if user.is_authenticated and user == Profile.user %}
        <a href="{% url 'friend_suggestions' %}" class="create-status-btn">Friend Suggestions</a>
    {% endif %}
    <br>
    <br>
</div>
{% endblock %}