<!-- mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

<h1> Showing all Profiles </h1>
{% block content %}
<main class = "grid-container">
    {% for Profile in Profiles %}
    <Profile>
        <div> 
            <h2> {{Profile.first_name}} </h2>
            <h2> {{Profile.last_name}} </h2>
            <h3> {{Profile.city}} </h3>
        </div>

        {% if Profile.image_url %}
        <img src="{{Profile.image_url}}" alt="Profile Picture" style="width:100px;height:100px;"> 
        {% endif %}
    </Profile>
    <hr>
    {% endfor %}
</main>
{% endblock %}
          